<launch>

    <param name="robot_description" command="$(find xacro)/xacro --inorder '$(find pantografo)/urdf/noelementalv01.xacro'"/>

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher"/>

    <node name="rviz" pkg="rviz" type="rviz" args=" -d $(find mrm_description)/launch/config.rviz" />

    <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" >
        <param name="joint_state_publisher_gui" value="True"/>
    </node>
</launch>
